* {
  font-size: 32px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: white;
  background-color: #bee3ff;
}

h1 {
  font-size: 40px;
}

input::placeholder {
  color: #ec645b;
}
input:focus {
  outline: 0;
}

button {
  background: white;
  width: 234px;
  height: 50px;
  border: none;
  border-radius: 10px;
  color: #ec645b;
}
button:hover {
  cursor: pointer;
  background: #fbc1bb;
}
button:active {
  background: salmon;
}
button svg {
  margin-left: 15px;
}

/* Classes */

.container {
  background-color: #ec645b;
  width: 500px;
  height: min-content;
  border-radius: 20px;
  padding: 20px;
  margin: 10px auto 0 auto;
  box-shadow: 10px 10px 26px 0px rgba(0, 0, 0, 0.35);
}

.add-item-box {
  background: white;
  color: #ec645b;
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 10px 15px;
}

.add-item-box svg {
  margin: 5px;
}

.add-item-input {
  box-sizing: border-box;
  border: none;
  background: transparent;
  color: #ec645b;
  width: 100%;
  height: 32px;
}

.btn-div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.item-container {
  padding: 20px 0 20px 0;
}
.item-container:not(:last-child) {
  border-bottom: 1px #fbc1bb solid;
}

.item-name {
  cursor: pointer;
}
.item-name svg {
  margin: 0 10px;
}

.hover-pointer {
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
}

.align-r {
  text-align: right;
}

.align-c {
  text-align: center;
}
